{% extends "base.html" %}

{% block content %}

        <!-- Header-->
        <header class="py-5">
            <div class="container px-lg-5">
                <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                    <div class="m-4 m-lg-5">
                        <h1 class="display-5 fw-bold">Share Link Rules</h1>
                        <p class="fs-4">Specify the rules to share a vault item.</p>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}